body {
  margin: 0;
  background-color: rgb(15,15,15) !important;
  color: whitesmoke !important;
}

.book {
  background-image: url('../Images/wot-books/parchment2.jpg');
  background-size: auto;
  align-content: center;

}

.cover {
 padding-top: 40px;
}


.col-head {
  color: whitesmoke;
  font-size: 35px;
  font-family: vivaldi;
  font-weight: 500;
  text-align: center;
}

.kar {
  color: whitesmoke;
  font-family: vivaldi;
  font-size: 35px;
  background-color: black;
}

.spacer {
  height: 650px;
}

a:link {
  text-decoration: none;
}




h1 {
  text-align: center;
  font-family: vivaldi;
}

#prophecy {
  color: gold;
}
.verse {
  text-align: center;
  font-size: 18px;
  font-weight: 100px;
  font-family: vivaldi;
  height: 650px;
}

.more {
  padding-left: 100px;
}
